.disableLink {
  color: black;
}
.github {
  width: 90%;
  padding: 1em;
  border-style: solid;
  border-radius: 10px;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  text-align: center;
}
.githubName {
  font-weight: bold;
  font-size: 2ch;
}
.githubProject {
  font-size: 1.8ch;
}
.githubLink {
  background-image: url(../icons/github-icon.png);
  width: 2em;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}
