name: Continuous Integration

on:
  push:
    branches:
      - main
      - development
  pull_request:

jobs:
  chatbot-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: install project dependencies
        run: npm ci

      - name: linter
        run: npm run lint

      - name: markdown linter
        run: npm run mdownlint
